<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Estilo</title>
</head>
<body>
    <h1>{% if estilos %}Editar Estilo{% else %} Cadastrar Estilos {% endif %}</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome"   value="{% if estilos %}{{ estilos.nome}}{% endif %}">
      
        <br>
        <input type="submit" value="Enviar">
        <br>
        <a href="{% url 'listar_estilos' %}">Voltar para a lista</a>
    </form>
</body>
</html>